## messageSource=classpath:/asicsb2bstoredata/import/#{storeUid}#/emails/messages/email-createdSetPassword.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
	<head>
	</head>
	<body bgcolor="#e4e7e8">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e4e7e8">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="610" border="6" align="center" cellpadding="0" cellspacing="0" bordercolor="#ebedee">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle">&nbsp;</td>
								</tr>
								
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#51585c">
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td align="left" valign="top">
										#set ($mailToUrl = "mailto:${ctx.messages.contactUsEmailAddress}")
										#set ($contactUsUrl = "${ctx.secureBaseUrl}${ctx.messages.contactUsPage}")
										#set ($paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs', "#genHtmlLinkStartTag($contactUsUrl)", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")})
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('salutation', ${ctx.title},${ctx.displayName})}</b>,</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.you}<a href="https://b2b.asics.com/au/en-au/">${ctx.messages.siteName}</a>${ctx.messages.sentenceAlmostDone}${ctx.messages.sentenceUpdatePswdInstructions}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">Login to #genHtmlLink(${ctx.baseUrl},'#666666',${ctx.messages.contactUs})</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">#genHtmlLink(${ctx.secureResetPasswordUrl},'#666666',${ctx.messages.paragraphSecurityNote})</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$paragraphContactUs</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.complimentaryClosing}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.signature}</font></p>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#51585c">
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>