## messageSource=classpath:/asicsb2bstoredata/import/#{storeUid}#/emails/messages/email-preOrderSendFMS.properties

#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
	<head>
	</head>
	<body bgcolor="#e4e7e8">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e4e7e8">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="610" border="6" align="center" cellpadding="0" cellspacing="0" bordercolor="#ebedee">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle">&nbsp;</td>
								</tr>
								<tr>
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#51585c">
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td align="center" valign="top">
						                #set ($orderNumber = "${ctx.sapOrderNumber}")
						                #set ($storeName = "${ctx.storeName}")
						                <p>
						                    <font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
						                        ${ctx.messages.getMessage('contentIndentMessages', "$storeName", "$orderNumber")}
						                    </font>
						                </p>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#51585c">
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>